In [6]:
import pandas as pd
import numpy as np
import forms

In [7]:
df = pd.DataFrame(np.random.randint(0, 100, size=(2000,10000)))
forms.to_spreadsheet_view(df)

,A,B,C,D,E,F,G,H,I,J,...,NTG,NTH,NTI,NTJ,NTK,NTL,NTM,NTN,NTO,NTP
1,18,76,67,29,90,80,31,43,73,61,...,3,42,78,29,5,33,16,58,59,8
2,61,90,10,44,55,40,60,11,94,49,...,87,81,80,70,28,52,40,3,70,10
3,43,36,10,55,41,92,70,14,31,97,...,75,32,8,49,81,13,70,65,37,74
4,45,80,8,90,75,21,56,48,36,48,...,40,9,2,57,10,47,55,88,56,52
5,26,77,4,6,18,57,17,35,33,55,...,2,20,46,79,40,61,15,54,55,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,11,38,15,22,59,29,16,97,14,55,...,34,44,43,97,43,98,76,31,54,14
1997,80,50,20,38,42,78,67,74,28,12,...,25,43,51,96,70,18,23,24,15,41
1998,63,19,97,32,10,85,0,80,16,94,...,10,24,26,59,81,19,13,19,23,54
1999,65,64,58,10,45,1,70,49,7,80,...,51,39,11,16,82,77,77,21,65,98
2000,15,31,10,19,92,23,75,16,76,44,...,87,72,16,99,51,20,3,41,94,12

In [11]:
df2 = pd.DataFrame(np.random.randint(0, 100, size=(100, 4)))
df2.columns = ['This', 'is', 'a', 'test']
df2.set_index('This', inplace=True, drop=True)
forms.to_spreadsheet_view(df2, keep_original_labels=True)

          A (is)  B (a)  C (test)
1 (44)        83     29        53
2 (82)        98     57        10
3 (51)        82     69        27
4 (11)        37     95        23
5 (59)        70     29        29
...          ...    ...       ...
96 (53)       40     24        46
97 (93)       47      4        69
98 (20)        4     88        30
99 (72)       22     27        70
100 (88)      15     25        39

[100 rows x 3 columns]

In [12]:
index = pd.MultiIndex.from_product([['CS168', 'ENGIN120', 'CS194'],
                                  ['BAMPFA', 'Birge', 'Dwinelle']],
                                 names=['Class', 'Room'])
col = pd.MultiIndex.from_product([['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                                  ['101', '102', '103', '104', '105']],
                                 names=['Lecture', 'Section'])
df3 = pd.DataFrame(np.random.randint(0, 100), index, col)
forms.to_spreadsheet_view(df3, keep_original_labels=True)

,"A (('Monday', '101'))","B (('Monday', '102'))","C (('Monday', '103'))","D (('Monday', '104'))","E (('Monday', '105'))","F (('Tuesday', '101'))","G (('Tuesday', '102'))","H (('Tuesday', '103'))","I (('Tuesday', '104'))","J (('Tuesday', '105'))",...,"P (('Thursday', '101'))","Q (('Thursday', '102'))","R (('Thursday', '103'))","S (('Thursday', '104'))","T (('Thursday', '105'))","U (('Friday', '101'))","V (('Friday', '102'))","W (('Friday', '103'))","X (('Friday', '104'))","Y (('Friday', '105'))"
1 (CS168.BAMPFA),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
2 (CS168.Birge),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
3 (CS168.Dwinelle),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
4 (ENGIN120.BAMPFA),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
5 (ENGIN120.Birge),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
6 (ENGIN120.Dwinelle),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
7 (CS194.BAMPFA),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
8 (CS194.Birge),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
9 (CS194.Dwinelle),79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79