In [1]:
import pandas as pd
import numpy as np
import forms
df = pd.DataFrame(np.random.randint(0, 100, size=(2000,10000)))
df2 = pd.DataFrame(np.random.randint(0, 100, size=(100, 4)))
df2.columns = ['This', 'is', 'a', 'test']

In [2]:
forms.to_spreadsheet_view(df)

,A,B,C,D,E,F,G,H,I,J,...,NTG,NTH,NTI,NTJ,NTK,NTL,NTM,NTN,NTO,NTP
1,1,94,85,92,80,56,64,36,39,63,...,43,72,57,73,77,57,89,67,0,22
2,43,49,77,2,61,47,34,54,31,64,...,68,6,70,84,49,98,16,86,38,80
3,94,43,97,16,34,10,70,55,92,39,...,56,28,21,14,52,54,64,26,87,16
4,41,49,6,14,76,10,9,97,37,96,...,84,21,4,58,28,8,82,98,39,27
5,41,4,22,88,49,22,75,34,9,37,...,76,47,88,6,65,11,18,85,64,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,54,18,78,67,48,84,93,94,25,20,...,77,12,62,57,34,82,92,94,53,33
1997,54,41,22,25,71,68,20,30,22,47,...,18,49,85,44,91,80,70,94,11,13
1998,22,80,25,59,76,45,34,15,42,76,...,25,63,37,66,83,71,51,90,83,93
1999,30,51,25,21,72,59,26,93,34,56,...,67,79,25,62,62,17,28,76,97,46
2000,3,56,71,41,91,85,85,41,18,94,...,65,34,46,71,38,13,0,30,97,41

In [3]:
forms.to_spreadsheet_view(df2, keep_original_labels=True)

     A (This)  B (is)  C (a)  D (test)
1          45      52     23        36
2          54       4     14        12
3          96      13     62        31
4          43      29     86        33
5          73      92     14        84
..        ...     ...    ...       ...
96         60      83     93        42
97         88      84     21        30
98         12      51     40        11
99         90      63     12        20
100        21      82     49        85

[100 rows x 4 columns]